sudo: required
services:
  - docker

before_install:
  - docker build -t ryanzzff/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true ryanzzff/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: ap-east-1
  app: docker-react
  env: DockerReact-env
  bucket_name: elasticbeanstalk-ap-east-1-623712114373
  bucket_path: docker-react # equal to app name
  access_key_id: "$AWS_ACCESS_KEY"
  secret_access_key: "$AWS_SECRET_KEY"
  on:
    branch: master

